
 <%- contentFor('header') %>
    
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/video/مقاله سرا.mp4" type="video/mp4">
  </video>
  <%if(!auth.check) {%>
  <div class="container h-100 ">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white py-5" style="background-color: rgba(16, 16, 17, 0.52);border-radius: 8px;">
        <h1  class="display-3 mb-5 text-warning">مقاله سرا</h1>
        <h2 id="main-h1" class="display-3 mb-5 text-warning">همین حالا سفر خود را به دنیا ی مقاله ها شروع کنید </h2>
        <!-- <p class="lead mb-0">     </p> -->
        <a id="header-register" class="btn btn-danger" href="/auth/register">ثبت نام میکنم !</a>
      </div>
    </div>
  </div>
  <%}%>
</header>

<!-- cards -->

<div class="container emp-profile">
  <h1>جدید ترین مقاله ها</h1>
  <hr>
<section id="gallery" class="my-5">
  <div class="container">
    <div class="row">
      <% if(articles.length===0) {%>
        <h1 class="text-center text-danger"> مقاله ای وجود  ندارد</h1> 
        <% } %> 
    <% for(let article of articles){ %>
 
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="<%=`http://localhost:3000/${article.image.replace('public/','')}`%>" alt="<%=article.title  %> " class="card-img-top" style="height: 250px;">
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text">
          <%= article.description1.slice(0,50) +' ...' %> 
        </p>
        <% if(auth.check) {%>

       <a href="/article/<%=article._id %>" class="btn btn-outline-success btn-sm">ادامه مقاله</a>
        <a href="" class="btn btn-outline-danger btn-sm"><i class="fa fa-heart"></i></a>
        <% } %> 
        <p class="text-muted small mt-4 mb-0">
                    
          <span
            >ارسال شده در <%= date(article.createdAt).format("jD jMMMM jYYYY") %>
          </span>
        </p>
        <p class="text-muted small mt-4 mb-0">
                    
          <span
            >  توسط <%= article.user_id.name +' '+ article.user_id.lastname%>
          </span>
        </p>
      </div>
     </div>
    </div>
    <% } %>

  </div>
</div>
</section>
<%- include('./includes/pagination.ejs',{pagination}) %> 

</div>

<!-- end of cards -->





<div class="container emp-profile">
  <h1>جدید ترین کاربران</h1>
  <hr>
<div class="container">
  <div class="row text-center">
   

    <% if(users.length===0) {%>
      <h1 class="text-center text-danger">کاربری وجود ندارد </h1> 
      <% } %> 

    <% for(let user of users){ %>


      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4">
            <% if(user.image.includes('https')){ %> 
              <img  src="<%=`${user.image}`%>" alt="<%=user.name  %>"  class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" style="width: 100px;height: 100px;">

              <% }else if(!user.image.includes('https')){ %> 
                <img  src="<%=`http://localhost:3000/${user.image.replace('public/','')}`%>" alt="<%=user.name  %>"  class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" style="width: 100px;height: 100px;">

              <% } %> 
              <h5 class="mb-0"><%=user.name + ' ' + user.lastname %> </h5>
              <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
          </div>
      </div><!-- End -->
      <% } %> 
  </div>
</div>
</div>